version: '3.8'

services:
 
  frontend:
    build: ./frontend
    container_name: vuejs_frontend
    ports:
      - "5173:5173"
    depends_on:
      - backend
    networks:
      - app_network

  db:
    image: mysql:8.0
    container_name: mysql_db
    command: ["--default-authentication-plugin=mysql_native_password"]
    environment:
      MYSQL_ROOT_PASSWORD: rootpassword
      MYSQL_DATABASE: factscope  
      MYSQL_USER: user
      MYSQL_PASSWORD: password
    ports:
      - "3307:3306"
    networks:
      - app_network
    # Healthcheck pour vérifier que MySQL est prêt à accepter des connexions
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      interval: 10s
      retries: 5
      start_period: 30s
      timeout: 10s
  backend:
    build: ./backend
    container_name: fastapi_backend
    ports:
      - "8000:8000"
    environment:
      DATABASE_URL: mysql+pymysql://user:password@db:3306/factscope
    depends_on:
      db:
        condition: service_healthy
    networks:
      - app_network
    # Ajout d'un healthcheck pour s'assurer que le backend attend MySQL
    healthcheck:
      test: ["CMD", "python3", "-c", "import urllib.request,sys; urllib.request.urlopen('http://localhost:8000/'); sys.exit(0)"]
      interval: 10s
      retries: 5
      start_period: 10s
      timeout: 5s

networks:
  app_network:
    driver: bridge
